aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
chardet==4.0.0
click==8.0.1
discord.py==1.7.2
dnspython==2.1.0
Flask==2.0.1
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
multidict==5.1.0
nptime==1.1
psycopg2-binary==2.9.1
pymongo==3.11.4
python-dateutil==2.8.1
python-dotenv==0.17.1
pytz==2021.1
six==1.16.0
typing-extensions==3.10.0.0
Werkzeug==2.0.1
yarl==1.6.3
